@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.mainWrapp {
    background-color: #FF6700;
    padding: 10px;
    width: 100vw;
    min-height: 100vh;
    max-width: 1980px;
}

.headerWrapp {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
    height: 72px;
}

/* master box section */
.masterBoxWrapp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.masterBox {
    padding-top: 25px;
    width: 1280px;
    height: 827px;
    background-color: white;
    border-radius: 10px;
}


.masterBoxImageWrapp {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.masterBoxImage {
    border-radius: 10px;
    width: 700px;
    height: 464px;
    background-image: url('../utils/pictures/noimg.jpg');
    background-size: cover;
    background-position: center;
}

.masterWordWrapp {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.masterWord {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

/* input wrapp */
.inputWrapp {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 700px;
    height: 50px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    outline: none;
    box-shadow: 0px 0px 7px 5px rgba(245, 183, 114, 0.75);
    -webkit-box-shadow: 0px 0px 7px 5px rgba(245, 183, 114, 0.75);
    -moz-box-shadow: 0px 0px 7px 5px rgba(245, 183, 114, 0.75);
}

/* lets see btn */
.letSeeWrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letSeeBtn {
    width: 324px;
    height: 60px;
    background-color: #FF6700;
    border-radius: 10px;
    border: 1px solid #FF6700;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* likes */
.likesWrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.likesWrappInner {
    width: 400px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counters {
    display: flex;
    align-items: center;
    color: #FF6700;
}

.thumbs {
    width: 22px;
    height: 18px;
    background-size: contain;
}

.counterNo {
    margin-left: 3px;
}

/*///////////////////////////////
/////////// RESPONSSIVE ////////
//////////////////////////// */


/* 1280px */
@media only screen and (max-width: 80rem) {
    .mainWrapp {
        max-width: 1280px;
    }

    .image {
        Width: 348px;
        height: 50px;
        max-width: 95%;
    }

    .masterBoxWrapp {
        padding: 15px;
    }

    .masterBox {
        padding-top: 18px;
        width: 1180px;
        max-width: 98%;
        height: 600px;
    }

    .masterBoxImage {
        width: 400px;
        height: 265px;
        max-width: 95%;

    }

    .input {
        width: 500px;
        height: 40px;
        max-width: 90%;
    }

    .letSeeBtn {
        width: 250px;
        height: 50px;
        font-size: 20px;
    }

    .likesWrappInner {
        width: 270px;
    }
}

/* 380px */
@media only screen and (max-width: 23.75rem) {

    .mainWrapp {
        max-width: 380px;
        border-radius: 40px;
    }

    .image {
        height: 44px;
    }

    .masterBox {
        width: 348px;
        min-height: 454px;
        border-radius: 40px;
        max-height: 490px;
        padding: 15px;
    }

    .counterMobile {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 6px;
        width: 99%;
    }

    .masterWord {
        font-size: 16px;
    }

    .likesWrapp {
        padding: 5px 0px;
    }

    .masterBoxImage {
        width: 308px;
        height: 205px;
    }

    .inputWrapp {
        padding-bottom: 30px;
    }

    .input {
        width: 208px;
        height: 36px;
    }

    .letSeeBtn {
        width: 208px;
        height: 40px;
        font-size: 16px;
    }

}